<app-nav-bar (darkModeSwitched)="switchMode($event)">
    <ng-container>
        <h2>Cadastrar Funcionario</h2>
        <form [formGroup]="novoFunc">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input type="text" name="nome" matInput placeholder="Ex. Gabriel Braga" formControlName="nome">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>CPF</mat-label>
                <input type="text" mask="000.000.000-99" name="cpf" matInput placeholder="Ex. 000.000.000-00"
                    formControlName="cpf" />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>E-mail</mat-label>
                <input type="email" name="email" matInput placeholder="Ex. gabriel@mail.com" formControlName="email">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>idCargo</mat-label>
                <input type="number" name="idCargo" matInput formControlName="idCargo">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>senha</mat-label>
                <input type="password" name="senha" matInput formControlName="senha">
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary" (click)="novoFuncionario()"
                matTooltip="Cadastrar este funcionário" matTooltipClass="tooltip"
                matTooltipPosition="below">Cadastrar</button>
            <a type="button" mat-raised-button color="warn" routerLink="/funcionarios"
                matTooltip="Cancelar cadastro deste funcionário" matTooltipClass="tooltip"
                matTooltipPosition="below">Cancelar</a>
        </form>
    </ng-container>
</app-nav-bar>