<app-nav-bar (darkModeSwitched)="switchMode($event)">
  <div class="accordion" id="accordionExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne" matTooltip="Abrir" matTooltipClass="tooltip"
          matTooltipPosition="right">
          O que fazer para criar um novo chamado?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Na página Página Principal, clique no menu, localizado na barra superior
          esquerda e representado pelo ícone <i class="material-icons">menu</i>.
          Clique em <i class="material-icons">perm_phone_msg</i> Chamados.
          Você será direcionado(a) para a página de Chamados.
          Clique em <i class="material-icons">add</i>localizado canto superior direito, que abrirá um campo para o novo
          chamado.
          Após preencher as informações solicitadas, clique em Salvar.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo" matTooltip="Abrir" matTooltipClass="tooltip"
          matTooltipPosition="right">
          O que fazer para editar um chamado?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Na página Página Principal, clique no menu, localizado na barra superior
          esquerda e representado pelo ícone <i class="material-icons">menu</i>.
          Clique em <i class="material-icons">perm_phone_msg</i> Chamados.
          Você será direcionado(a) para a página de Chamados.
          Clique em <i class="material-icons">edit</i> para abrir o campo de
          edição. Após realizar as alterações desejadas
          , clique em Salvar.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" matTooltip="Abrir"
          matTooltipClass="tooltip" matTooltipPosition="right">
          Como consultar um chamado que fiz?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Na página Página Principal, clique no menu, localizado na barra superior
          esquerda e representado pelo ícone <i class="material-icons">menu</i>.
          Clique em <i class="material-icons">perm_phone_msg</i> Chamados.
          Você será direcionado(a) para a página de Chamados.
          Clique na linha Filter, localizada acima da tabela. Digite, então, uma palavra-chave que identifique sua
          busca. O chamado correspondente aparecerá automaticamente.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" matTooltip="Abrir"
          matTooltipClass="tooltip" matTooltipPosition="right">
          Como posso cadastrar um(a) novo(a) cliente?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Na página Página Principal, clique no menu, localizado na barra superior
          esquerda e representado pelo ícone <i class="material-icons">menu</i>.
          Clique em <i class="material-icons">person</i> Clientes.
          Você será direcionado(a) para a página de Clientes.
          No canto superior direito, clique no <i class="material-icons">add</i> para abrir o campo de novo cliente.
          Após preencher as informações requiridas, clique em Salvar.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" matTooltip="Abrir"
          matTooltipClass="tooltip" matTooltipPosition="right">
          Posso alterar as informações de um(a) cliente já cadastrado(a)?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Na página Página Principal, clique no menu, localizado na barra superior
          esquerda e representado pelo ícone <i class="material-icons">menu</i>.
          Clique em <i class="material-icons">person</i> Clientes.
          Você será direcionado(a) para a página de Clientes.
          Sobre o(a) cliente que deseja editar, clique no botão <i class="material-icons">edit</i> que abrirá o campo de
          edição. Após realizar as alterações desejadas, clique em Salvar.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
          aria-expanded="false" aria-controls="collapseSix" matTooltip="Abrir" matTooltipClass="tooltip"
          matTooltipPosition="right">
          Como excluir o cadastro de um(a) cliente?
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Na página Página Principal, clique no menu, localizado na barra superior
          esquerda e representado pelo ícone <i class="material-icons">menu</i>.
          Clique em <i class="material-icons">person</i> Clientes.
          Você será direcionado(a) para a página de Clientes.
          Sobre o(a) cliente que deseja excluir, clique no botão <i class="material-icons">delete</i> que o(a) cliente
          será excluído(a). ATENÇÃO, essa ação não pode ser desfeita.
        </div>
      </div>
    </div>

  </div>
</app-nav-bar>