.container-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.custom-mat-form-field {
  display: contents;
}

.loading-spinner {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
