<div class="dialog-container">
    <div class="btn-details">
        <button mat-icon-button mat-dialog-close>
            <i  class="material-icons">close</i>
        </button>
    </div>

    <div>
        <h3>
            {{cliente.nome}}
        </h3>
        <span class="details-cliente">
            <strong>CPF: </strong>{{cliente.cpf}}
        </span>
        <span class="details-cliente">
            <strong>E-mail: </strong>{{cliente.email}}
        </span>
        <span class="details-cliente">
            <strong>Telefone: </strong>{{cliente.telefone}}
        </span>
        <span class="details-cliente">
            <strong>Id: </strong>{{cliente.id}}
        </span>
    </div>
</div>

